# *Aadil Sanai*


## **Assignment 1- day 2- 20/6/2024**

### 1)Make a list of 5 students and print the list.

In [ ]:
students=["Aadil","Ahmed","Ahsan","Haseeb","Bilal","Ali"]
print(students)

['Aadil', 'Ahmed', 'Ahsan', 'Haseeb', 'Bilal', 'Ali']

### 2) Add 2 more students in the list and print the updated list.

In [ ]:
students.append("Usman")
students.append("Raza")

print(students)

['Aadil', 'Ahmed', 'Ahsan', 'Haseeb', 'Bilal', 'Ali', 'Usman', 'Raza']

### 3) Remove 2 students from the list and print the updated list.

In [ ]:

students=['Aadil', 'Ahmed', 'Ahsan', 'Haseeb', 'Bilal', 'Ali', 'Usman', 'Raza']
students.remove("Aadil")
students.remove("Ali")

print(students)

['Ahmed', 'Ahsan', 'Haseeb', 'Bilal', 'Usman', 'Raza']

### 4) Sort the list in ascending order and print the updated list.

In [ ]:
students.sort()
print("list in ascending order",students)

list in ascending order ['Ahmed', 'Ahsan', 'Bilal', 'Haseeb', 'Raza', 'Usman']

### 5)  Reverse the list and print the updated list.

In [ ]:
students.reverse()
print("the reversed list is",students)

the reversed list is ['Usman', 'Raza', 'Haseeb', 'Bilal', 'Ahsan', 'Ahmed']

### 6) Clear the list and print the updated list.

In [ ]:
students.clear()
print("list is cleared",students)

list is cleared []

## **Assignment 2**

### 1)  What is the difference between list and tuple?

### Ans
 The main differece between list and tuple is that list can be changed or updated whenever we want, whereas, tuple 
can't be changed or updated and that particular tuple will be same throughout the program

### 2) Make a tuple that contain only one item and print the type of the tuple

In [ ]:
crockery= ("plates",)
print(crockery)

('plates',)

### 3) Make a tuple of 5 items and print the tuple.

In [ ]:
groceries=("bread","milk","vegetables","dishwashers","soaps","vegetables")
print(groceries)

('bread', 'milk', 'vegetables', 'dishwashers', 'soaps', 'vegetables')

### 4) Find the index of a specific item in the tuple

In [ ]:

groceries.index("milk")

1

### 5)Find the count of a specific item in the tuple

In [ ]:
groceries.count("vegetables")

2

### 6)Find the length of the tuple

In [ ]:
groceries.__len__()

6

### 7)Find the maximum and minimum item in the tuple.

In [ ]:
# finding Maximum
numbers= (7,3,12,2,5)
print("maximum number is",max(numbers))

# finding minimum
print("minimum number is",min(numbers))

maximum number is 12
minimum number is 2

### 8)Find the sum of all items in the tuple.

In [ ]:
sum(numbers)

29

### 9)Sort the tuple in ascending order and print the updated tuple.

In [ ]:
sorted(numbers)

[2, 3, 5, 7, 12]

### 10)Sort the tuple in descending order and print the updated tuple.

In [ ]:
numbers = ("7", "3", "12", "2", "5")

# Sort the tuple in descending order
sorted_numbers_desc = tuple(sorted(numbers, key=int, reverse=True))

# Print the result
print("Sorted tuple in descending order:", sorted_numbers_desc)

Sorted tuple in descending order: ('12', '7', '5', '3', '2')

### 11)Clear the tuple and print the updated tuple.

In [ ]:
sorted_numbers_desc2=list(sorted_numbers_desc)
sorted_numbers_desc2.clear()
sorted_numbers_desc=tuple(sorted_numbers_desc2)
print(sorted_numbers_desc)

()

### 12)Delete the tuple and print the tuple.

In [103]:
sorted_numbers_desc=()
del(sorted_numbers_desc)

 ### 13)Concatenate two tuples and print the updated tuple.

In [105]:
tuple1=(1,2,3,4,5)
tuple2=(6,7,8,9,10)
concatenated_tuple=(tuple1+tuple2)
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### 14)Repeat the tuple 3 times and print the updated tuple

In [111]:
names=("Aadil","Bilal","Ali","Azan")
print(names*3)

('Aadil', 'Bilal', 'Ali', 'Azan', 'Aadil', 'Bilal', 'Ali', 'Azan', 'Aadil', 'Bilal', 'Ali', 'Azan')